WEBAPP_HOST=127.0.0.1
WEBAPP_PORT=8000
WEBAPP_USERNAME=admin
WEBAPP_PASSWORD=replace-with-a-long-random-password
WEBAPP_SESSION_SECRET=replace-with-at-least-32-random-characters
WEBAPP_COOKIE_SECURE=false
WEBAPP_DATA_DIR=/opt/web_asset_checker/data

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=webasset
MYSQL_PASSWORD=replace-with-mysql-password
MYSQL_DATABASE=web_asset_checker

ONEFORALL_DIR=/opt/OneForAll
ONEFORALL_PYTHON=/opt/OneForAll/.venv/bin/python
NUCLEI_BIN=/usr/local/bin/nuclei
